name: CI
"on":
  merge_group:
    branches:
      - master
      - main
  pull_request:
    branches:
      - master
      - main
  push:
    branches:
      - master
      - main
    tags:
      - v*
  workflow_dispatch:
    inputs:
      build-linux-aarch64:
        description: "Build Linux ARM64"
        required: false
        default: false
        type: boolean
      build-windows:
        description: "Build Windows x86_64"
        required: false
        default: false
        type: boolean
      build-macos:
        description: "Build macOS ARM64"
        required: false
        default: false
        type: boolean
jobs:
  build-linux-x86_64:
    name: Build Linux x86_64
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v21
      - name: Magic Nix Cache
        uses: DeterminateSystems/magic-nix-cache-action@v13
      - name: Build binary
        run: |
          nix build -L .#x86_64-unknown-linux-musl
          mkdir artifacts/
          cp result/bin/* artifacts
          cd artifacts
          ls | xargs -I{} mv {} linux-x86_64-{}
      - uses: actions/upload-artifact@v4
        with:
          name: "linux-x86_64-sync_dis_boi"
          path: "artifacts/*"

  build-linux-aarch64:
    name: Build Linux ARM64
    runs-on: ubuntu-latest
    if: github.event_name == 'workflow_dispatch' && inputs.build-linux-aarch64
    steps:
      - uses: actions/checkout@v4
      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v21
      - name: Magic Nix Cache
        uses: DeterminateSystems/magic-nix-cache-action@v13
      - name: Build binary
        run: |
          nix build -L .#aarch64-unknown-linux-musl
          mkdir artifacts/
          cp result/bin/* artifacts
          cd artifacts
          ls | xargs -I{} mv {} linux-aarch64-{}
      - uses: actions/upload-artifact@v4
        with:
          name: "linux-aarch64-sync_dis_boi"
          path: "artifacts/*"

  build-windows:
    name: Build Windows x86_64
    runs-on: ubuntu-latest
    if: github.event_name == 'workflow_dispatch' && inputs.build-windows
    steps:
      - uses: actions/checkout@v4
      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v21
      - name: Magic Nix Cache
        uses: DeterminateSystems/magic-nix-cache-action@v13
      - name: Build binary
        run: |
          nix build -L .#x86_64-pc-windows-gnu
          mkdir artifacts/
          cp result/bin/* artifacts
          cd artifacts
          ls | xargs -I{} mv {} windows-x86_64-{}
      - uses: actions/upload-artifact@v4
        with:
          name: "windows-x86_64-sync_dis_boi"
          path: "artifacts/*"

  build-macos:
    name: Build macOS ARM64
    runs-on: macos-latest
    if: github.event_name == 'workflow_dispatch' && inputs.build-macos
    steps:
      - uses: actions/checkout@v4
      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v21
      - name: Magic Nix Cache
        uses: DeterminateSystems/magic-nix-cache-action@v13
      - name: Build binary
        run: |
          nix build -L .#
          mkdir artifacts/
          cp result/bin/* artifacts
          cd artifacts
          ls | xargs -I{} mv {} mac-aarch64-{}
      - uses: actions/upload-artifact@v4
        with:
          name: "mac-aarch64-sync_dis_boi"
          path: "artifacts/*"
  dockerize:
    name: Dockerize and Push
    needs: build-linux-x86_64
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Download Artifacts
        uses: actions/download-artifact@v4
        with:
          name: "linux-x86_64-sync_dis_boi"
          path: "dist"

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.REGISTRY_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          platforms: linux/amd64
          push: true
          tags: ghcr.io/kamdzy/sync_dis_boi:latest
  release:
    name: Release
    needs: [build-linux-x86_64, build-linux-aarch64, build-windows, build-macos]
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && contains(github.ref, 'refs/tags/')
    steps:
      - uses: actions/download-artifact@v4
        with:
          path: "artifacts"
          pattern: "*-sync_dis_boi"
          merge-multiple: true
      - name: Display structure of downloaded files
        run: ls -R
      - uses: ncipollo/release-action@v1
        with:
          artifacts: "artifacts/*"
  flake:
    name: Flake self-check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Check Nix flake inputs
        uses: DeterminateSystems/flake-checker-action@v5
        with:
          fail-mode: true
